<!-- <mat-sidenav-container class="sidenav-wrapper ">
    <mat-sidenav mode="side" opened="true" class="sidenav" #nav>
        <a routerLink="/users" class="primary">
            <button mat-button>
                <mat-icon>group</mat-icon>
                <span class="p-2">Users List</span>
            </button>
        </a>
        <a class="primary" routerLink="/about-us">
            <button mat-button>
                <mat-icon>info</mat-icon>
                <span class="p-2">About-Us</span>
            </button>
        </a>
        <a class="primary">
            <button mat-button routerLink="/contact">
                <mat-icon>phone</mat-icon>
                <span class="p-2">Contact us</span>
            </button>
        </a>
        <a class="primary">
            <button mat-button>
                <mat-icon>settings</mat-icon>
                <span class="p-2">Settings</span>
            </button>
        </a>
    </mat-sidenav>
</mat-sidenav-container> -->